.overlay-box {
  position: fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  color: white;
  z-index: 1001;
}

.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: .8;
  background: white;
}
