<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Subscription</a></li>
    <li class="breadcrumb-item active" aria-current="page">Pricing</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h3 class="text-center mb-3 mt-4">Choose a plan</h3>
        <p class="text-muted text-center mb-4 pb-2">Choose the features and functionality your team need today. Easily upgrade as your company grows.</p>
        <div class="container">
          <div class="row">
            <div class="col-md-3 stretch-card grid-margin grid-margin-md-0">
            </div>
            <div class="col-md-6 stretch-card grid-margin grid-margin-md-0">
              <div class="card">
                <div class="card-body">
                  <h4 class="text-center mt-3 mb-4">Basic</h4>
                  <i class="feather icon-award text-primary icon-xxl d-block text-center my-3"></i>
                  <h1 class="text-center">4€</h1>
                  <p class="text-muted text-center mb-4 fw-light">per month</p>
                  <table class="mx-auto">
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td><p>Unlimited clients</p></td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td><p>Unlimited Projects & Tasks</p></td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td><p>Effortless Time Tracking</p></td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td><p>Accurate Overtime Calculations</p></td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-x icon-md text-danger me-2"></i></td>
                      <td><p class="text-muted">Full JIRA integration <span class="badge bg-primary mb-1">Coming soon</span></p></td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-x icon-md text-danger me-2"></i></td>
                      <td><p class="text-muted">Full data migration <span class="badge bg-primary mb-1">Coming soon</span></p></td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-x icon-md text-danger me-2"></i></td>
                      <td><p class="text-muted">Flexible Work Contract Management <span class="badge bg-primary mb-1">Coming soon</span></p></td>
                    </tr>
                  </table>
                  <div class="d-grid">
                    <button routerLink="/general/pricing/buy/basic" class="btn btn-primary mt-4">Start now</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 stretch-card grid-margin grid-margin-md-0">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
