<app-loading *ngIf="loading"></app-loading>
<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">My Profile</h4>
  </div>
</div>
<!--
<div class="row">
  <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow-1" *ngIf="myHoursReport">
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Hours this week</h6>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2">{{ pipeHours(myHoursReport.thisWeek) }}</h3>
                <div class="d-flex align-items-baseline">
                  <p class="text-success">
                    <span>+3.3%</span>
                    <i data-feather="arrow-up" appFeatherIcon class="icon-sm mb-1"></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Hours last week</h6>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2">{{ pipeHours(myHoursReport.lastWeek) }}</h3>
                <div class="d-flex align-items-baseline">
                  <p class="text-success">
                    <span>+3.3%</span>
                    <i data-feather="arrow-up" appFeatherIcon class="icon-sm mb-1"></i>
                  </p>
                </div>
              </div>
              <div class="col-6 col-md-12 col-xl-7">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Hours this month</h6>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2">{{ pipeHours(myHoursReport.lastThirtyDays) }}</h3>
                <div class="d-flex align-items-baseline">
                  <p class="text-success">
                    <span>+3.3%</span>
                    <i data-feather="arrow-up" appFeatherIcon class="icon-sm mb-1"></i>
                  </p>
                </div>
              </div>
              <div class="col-6 col-md-12 col-xl-7">
                <div class="mt-md-3 mt-xl-0">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">User</h6>
        <form class="forms-sample" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" autocomplete="off" placeholder="Name" formControlName="name">
          </div>
          <div class="mb-3">
            <label for="surname" class="form-label">Surname</label>
            <input type="text" class="form-control" id="surname" autocomplete="off" placeholder="surname" formControlName="surname">
          </div>
          <button type="submit" class="btn btn-primary me-2">Update</button>
        </form>
        <p class="text-danger mt-1" *ngFor="let err of error">{{ err }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Reset password</h6>
        <div class="mb-3">
          <label for="name" class="form-label">Reset password</label>
          <input type="password" class="form-control" id="password" autocomplete="off" [(ngModel)]="password">
        </div>
        <button (click)="updatePassword()" class="btn btn-primary me-2">Update password</button>
      </div>
    </div>
  </div>
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Invoice information</h6>
        <div class="row">
          <form class="forms-sample" [formGroup]="addressForm" (ngSubmit)="onSubmitAddressForm()">
            <div class="row">
              <div class="col-12">
                <div class="mb-3">
                  <label for="name" class="form-label">Address</label>
                  <input type="text" class="form-control" id="address" autocomplete="off" placeholder="Name" formControlName="address">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="mb-3">
                  <label for="name" class="form-label">City</label>
                  <input type="text" class="form-control" id="city" autocomplete="off" placeholder="City" formControlName="city">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="mb-3">
                  <label for="name" class="form-label">County</label>
                  <input type="text" class="form-control" id="county" autocomplete="off" placeholder="County" formControlName="county">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="mb-3">
                  <label for="name" class="form-label">Country</label>
                  <input type="text" class="form-control" id="country" autocomplete="off" placeholder="Country" formControlName="country">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="mb-3">
                  <label for="name" class="form-label">Postcode</label>
                  <input type="text" class="form-control" id="postcode" autocomplete="off" placeholder="Postcode" formControlName="postcode">
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary me-2">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<ng-container *ngIf="user.user_role === 'company_admin' && companyFormGroup">
  <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
      <h4 class="mb-3 mb-md-0">Company settings</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-xl-12 stretch-card">
      <div class="row flex-grow-1" *ngIf="myHoursReport">
        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Hours this week</h6>
              </div>
              <div class="row">
                <div class="col-6 col-md-12 col-xl-5">
                  <h3 class="mb-2">{{ pipeHours(myHoursReport.thisWeek) }}</h3>
                  <div class="d-flex align-items-baseline">
                    <p class="text-success">
                      <span>+3.3%</span>
                      <i data-feather="arrow-up" appFeatherIcon class="icon-sm mb-1"></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Hours last week</h6>
              </div>
              <div class="row">
                <div class="col-6 col-md-12 col-xl-5">
                  <h3 class="mb-2">{{ pipeHours(myHoursReport.lastWeek) }}</h3>
                  <div class="d-flex align-items-baseline">
                    <p class="text-success">
                      <span>+3.3%</span>
                      <i data-feather="arrow-up" appFeatherIcon class="icon-sm mb-1"></i>
                    </p>
                  </div>
                </div>
                <div class="col-6 col-md-12 col-xl-7">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Hours this month</h6>
              </div>
              <div class="row">
                <div class="col-6 col-md-12 col-xl-5">
                  <h3 class="mb-2">{{ pipeHours(myHoursReport.lastThirtyDays) }}</h3>
                  <div class="d-flex align-items-baseline">
                    <p class="text-success">
                      <span>+3.3%</span>
                      <i data-feather="arrow-up" appFeatherIcon class="icon-sm mb-1"></i>
                    </p>
                  </div>
                </div>
                <div class="col-6 col-md-12 col-xl-7">
                  <div class="mt-md-3 mt-xl-0">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-container>

-->