.circles{
  height: 40px;
  width: 40px;
  margin: 0 auto;
  border-radius: 50%;
  background: #6571ff;
  border: 2px solid #fff;
  text-align: center;
  line-height: 37px;
  color: white;
  font-weight: bold;
}
